@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.clearfix:after{display:block; height:0; clear:both; content:'.'; visibility:hidden;}
img{ border:0px;}
ul,li,ol,h1,h2,h3,h4,h5,h6,p,dd,dt,dl,label{display:block;}
ul,ol{list-style:none;}
a{text-decoration:none;}
