@charset "utf-8";
*{margin:0; padding:0;}
.clearfix:after{ height:0; display:block; content:'.'; visibility:hidden; clear:both;}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,label,fieldset,legend,p,header,footer,nav,section,aside,article{display:block;}
ul{list-style:none;}
img{border:0;}
a{text-decoration:none; outline:none;}
.ellipsis{white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden; }
body{font-family:"微软雅黑"; font-weight:normal;}
/* CSS Document */

