@charset "utf-8";
/* CSS Document */

/*content开始*/
.content_box{width:100%; border-top:1px #898989 solid; }
.content{width:990px; margin:0 auto; position:relative; padding-top:20px;}
.content h3{width:303px; height:20px; line-height:20px; position:absolute; left:343px; top:-10px;
font-size:12px; font-family:"微软雅黑"; color:#808285; text-align:center; background:#fff; font-weight:normal;}
.content h3 a {font-size:12px; font-family:"微软雅黑"; color:#3e3a39;}
.content h2{height:42px; line-height:42px; font-size:14px; font-family:"微软雅黑"; color:#3e3a39; font-weight:normal;}
/*left 开始*/
.content .left{width:178px; float:left; padding-bottom:40px;}
.content .left li{height:24px; line-height:24px;}
.content .left li a{font-size:12px; font-family:"微软雅黑"; color:#939598;}
.content .left li a:hover{color:#000;}

.content .left .left_top{margin-bottom:30px;}
/*left结束*/

/*right开始*/
.content .right{width:811px; float:left;}
.content .right>h2{margin-bottom:49px;}
.content .right>p{height:48px; line-height:48px; font-size:12px; font-family:"微软雅黑"; color:#3e3a39;}
.content .right ul li{width:251px;  float:left; margin-right:29px; margin-bottom:37px;}
.content .right ul li img{display:block; margin-bottom:12px;}
.content .right ul li.mrg{margin-right:0;}
.content .right ul li>p{line-height:19px; font-size:12px; font-family:"微软雅黑"; color:#3e3a39;}
.content .right ul li>p a{font-size:12px; font-family:"微软雅黑"; color:#3e3a39;}
.content .right ul li>p a:hover{color:#000;}
